html {
  font-size: 18px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 12px;
  }
}
